<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %> | Just my signup form</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0' name='viewport' />
    <meta name="author" content="Alejandro El Informático" />
    <meta name="description" content="Create a new account for free and benefit of all our new features. This form is the new bad boy of the Internet, just join us!" />
    <meta name="keywords" content="account, features, signup, free, free account" />
    <meta name="robots" content="all" />
    <meta property="og:title" content="Signup form">
    <meta property="og:url" content="http://www.form.com">
    <meta property="og:image" content="image.png"/>
    <meta property="og:description" content="Create a new account for free and benefit of all our new features. This form is the new bad boy of the Internet, just join us!">
    <style type="text/css">
      <%= render '/components/stylesheet' %>
    </style>
    <script type="text/javascript">
      <%= render '/components/js' %>
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
